@charset "UTF-8";

$main-color: #f6e25d;
$sub-color: #999a9c;

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // border-bottom: 1px solid #999a9c;
  input {
    position: relative;
    padding: 1rem 0.8rem 0.8rem;
    width: 100%;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #dededf;
    transition: 0.2s;

    &:focus {
      border-bottom-color: $main-color;
    }
  }

  .create-button {
    display: inline-block;
    min-width: 3.5rem;
    min-height: 3.5rem;
    margin: 0 0 0 1.2rem;
    font-weight: bold;
    font-family: Century Gothic, sans-serif;
    font-size: 2.4rem;
    color: #ffffff;
    background-color: $main-color;
    border: 0;
    border-radius: 0.2rem;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #f6962e;
      box-shadow: 0 0.2rem 0.4rem rgba(120, 120, 120, 0.6);
    }
  }
}
